body {
    font-family: sans-serif;
}

header{
    background-color: blue;
}

h1{
    text-size: 50px;
    color: blue;
}

footer{
    background-color: blue;
    border: 50px;
}

nav a{
    margin: 60px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(90 90 90);
}

.optom{
    color: blue;
}

.red{
    background-color: blue;
    color: ;
}

h2{
    color: blue;
}
